#calendarboard{
  background: #fff;
  border: 2px solid #ddd;
}

#calendarboard:before, #calendarboard:after {
  content: "";
  display: table;
  clear: both;
}

#calendarboard div.weekday{
  width: 14.285714285714286%;
  float: left;
  color: #999;
  text-align: center;
  letter-spacing: 1px;
  padding: .6em .3em;
  font-size: .9em;
  border-top: 1px solid #ddd;
  font-style: none;
  text-transform:capitalize;
}

#calendarboard a.day{
  display: block;
  width: 14.285714285714286%;
  height: 132px;
  float: left;
  position:relative;
  border-top:1px solid #ddd;
  border-left:1px solid #ddd;
}

#calendarboard a.day:nth-child(7n-5){
  border-left:none;
}

#calendarboard a.day:not(.is-sibling):hover{
  background-color:#f0f0f0;
}

#calendarboard a.day.is-sibling {
  cursor:default;
  color:#ccc;
}  

#calendarboard a.day>p{
    position:absolute;
    top:5px;
    right:7px;
    width:20px;
    height:20px;
    text-align:right;
    line-height:19px;
}

#calendarboard a.day.is-today:not(.is-sibling) p{
  background-color:#8dae28;
  color:#fff;
  border-radius:50%;
  right:5px;
  text-align:center;
}

#calendarboard span.month__prev, #calendarboard span.month__next{
  display:block;
  float:left;
  width:28.57142857142857%;
  text-align:center;
  font-size: 2em;
  line-height: 1; 
  cursor:pointer;
  color:#999;  
}

#calendarboard span.month__prev:hover, #calendarboard span.month__next:hover{
  color:#000;  
}

#calendarboard div.calendar__title{
  float:left;
  width:42.85714285714286%;
  text-align:center;
  padding: .6em .3em;
  text-transform:capitalize;
}

#calendarboard div.events{
  position:absolute;
  bottom:1px;
  width:100%;
  padding:0px 4px;
}

#calendarboard div.events div.event{
  display:block;
  float:left;
  border-radius:2px;
  background-color:#000;
  width:100%;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom:2px;
  font-size:11px;
  padding:2px 4px;
  color:#fff;
  cursor: move;
}

#calendarboard div.events div.dot{
  margin-right:2px;
  cursor: default;
}

#calendarboard div.events div.event-sunday-service {
  background-color: #c00000;
}

#calendarboard div.events div.event-generic-public {
  background-color: #c00000;
}