/* 
 Stuff here overwrites tachyons styles!
*/

@font-face {
font-family: 'Lato';
font-style: normal;
font-weight: 400;
src: url('../fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
src: local('Lato Regular'), local('Lato-Regular'),
	url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/Lato-Regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
	url('../fonts/Lato-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/Lato-Regular.svg#Lato') format('svg'); /* Legacy iOS */
}
@font-face {
font-family: 'Lato';
font-style: bold;
font-weight: 700;
src: url('../fonts/Lato-Bold.eot'); /* IE9 Compat Modes */
src: local('Lato Bold'), local('Lato-Bold'),
	url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/Lato-Bold.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/Lato-Bold.woff') format('woff'), /* Modern Browsers */
	url('../fonts/Lato-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/Lato-Bold.svg#Lato') format('svg'); /* Legacy iOS */
}
@font-face {
font-family: 'Lato';
font-style: italic;
font-weight: 400;
src: url('../fonts/Lato-Italic.eot'); /* IE9 Compat Modes */
src: local('Lato Italic'), local('Lato-Italic'),
	url('../fonts/Lato-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/Lato-Italic.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/Lato-Italic.woff') format('woff'), /* Modern Browsers */
	url('../fonts/Lato-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/Lato-Italic.svg#Lato') format('svg'); /* Legacy iOS */
}

@font-face {
font-family: 'Spartan';
font-style: normal;
font-weight: 400;
src: url('../fonts/Spartan-Regular.eot'); /* IE9 Compat Modes */
src: local('Spartan Regular'), local('Spartan-Regular'),
	url('../fonts/Spartan-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/Spartan-Regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/Spartan-Regular.woff') format('woff'), /* Modern Browsers */
	url('../fonts/Spartan-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/Spartan-Regular.svg#Spartan') format('svg'); /* Legacy iOS */
}
@font-face {
font-family: 'Spartan';
font-style: normal;
font-weight: 500;
src: url('../fonts/Spartan-Medium.eot'); /* IE9 Compat Modes */
src: local('Spartan Medium'), local('Spartan-Medium'),
	url('../fonts/Spartan-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/Spartan-Medium.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/Spartan-Medium.woff') format('woff'), /* Modern Browsers */
	url('../fonts/Spartan-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/Spartan-Medium.svg#Spartan') format('svg'); /* Legacy iOS */
}
	
@font-face {
font-family: 'Spartan';
font-style: normal;
font-weight: 600;
src: url('../fonts/Spartan-SemiBold.eot'); /* IE9 Compat Modes */
src: local('Spartan SemiBold'), local('Spartan-SemiBold'),
	url('../fonts/Spartan-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/Spartan-SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/Spartan-SemiBold.woff') format('woff'), /* Modern Browsers */
	url('../fonts/Spartan-SemiBold.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/Spartan-SemiBold.svg#Spartan') format('svg'); /* Legacy iOS */
}
@font-face {
font-family: 'Spartan';
font-style: normal;
font-weight: 700;
src: url('../fonts/Spartan-Bold.eot'); /* IE9 Compat Modes */
src: local('Spartan Bold'), local('Spartan-Bold'),
	url('../fonts/Spartan-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/Spartan-Bold.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/Spartan-Bold.woff') format('woff'), /* Modern Browsers */
	url('../fonts/Spartan-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/Spartan-Bold.svg#Spartan') format('svg'); /* Legacy iOS */
}

html { 
	font-family: 'Lato', sans-serif; 
	color: #232323;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Spartan', sans-serif;
	font-weight: 600;
	letter-spacing: -0.03rem;
}

.black { color: #232323; }
.gray { color: #878787; }
.red { color: #c00000; }

.bg-gray { background-color: #878787; }
.bg-red { background-color: #c00000; }

.hover-red:hover { color: #c00000; }
.hover-red:focus { color: #c00000; }

.min-w7rem { min-width: 7rem; }

.t-shadow1 { text-shadow: 1px 1px 6px #000; }
.t-shadow2 { text-shadow: 1px 1px 9px #000; }

.shadow-glow1 { box-shadow: 0px 1px 8px 0 rgba( 0, 0, 0, .55 ) }
.shadow-glow2 { box-shadow: 0px 1px 2px 0 rgba( 0, 0, 0, .55 );}

.mt--1 { margin-top: -1rem; }

.top-30prct { top: 30%; }

.ma-auto { margin: auto; }

.lh-big { line-height: 1.8; }

/* styling for kirby markdown */
.kirbytext a { color: #c00000; }
.kirbytext { 
	color: #232323; 
	line-height: 1.4;
}
.kirbytext figure { 
	text-align: center;
	margin-top: 3rem;
	margin-bottom: 3rem;
}
.kirbytext h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0;
}
  
.heroimage {
	text-align: center;
	height: 56.25vw;
	max-height: 60vh;
	background-position: 50% 50%;
	background-size: cover;
}

.header-gradient {
	background-image: radial-gradient(
		circle at 50% 50%,
		#e00000 29%,
		#a90808 120%);
}

.bg-even-child-sections-gray section:nth-child(even) {
	background-color: rgba( 0, 0, 0, .1 ); 
}

footer:hover .heart{
  animation: pulsing .6s linear infinite;
}
@keyframes pulsing {
	0% { transform: scale(1); }
	25% { transform: scale(1.4); }
	50% { transform: scale(1); }
	100% { transform: scale(1); }
}