/* hide calendar year breadcrumb */
nav.breadcrumb a[title^="year-"]{display:none}


/* login styling */
body.login form.form {
  padding-top: 8.5em;
  background: #fff url("../images/logo.png") center 2em no-repeat;
  background-size: 65% auto;
}
body.login {
  background: #222 url("../images/login-background.jpg") center no-repeat;
  background-size: 100% auto;
  background-size: cover;
}
