<head></head>

<body>
  <div style="background-color:#fff;margin:0 auto 0 auto;padding:30px 0 30px 0;color:#4f565d;font-size:13px;line-height:20px;font-family:'Helvetica Neue',Arial,sans-serif;text-align:left;">
    <center>
      <table style="width:550px;text-align:center">
        <tbody>
          <tr>
            <td style="padding:0 0 20px 0;border-bottom:1px solid #e9edee;">
              <a href="http://www.citychurch-ulm.de" style="display:block; margin:0 auto;" target="_blank">
                <img src="http://www.citychurch-ulm.de/assets/images/logo.png" height="45" alt="CU logo" style="border: 0px;">
              </a>
            </td>
          </tr>
          <tr>
            <td colspan="2" style="padding:30px 0;">
              <p style="color:#1d2227;line-height:28px;font-size:22px;margin:12px 10px 20px 10px;font-weight:400;">
                Toll dass du dich für unseren Newsletter interessierst! </p>
              <p style="margin:0 10px 10px 10px;padding:0;">
                Jetzt musst du nur noch deine Emailadresse bestätigen in dem du auf den Link hier klickst.
              </p>
              <p>
                <br>
                <a style="display:inline-block;text-decoration:none;padding:10px 15px;background-color:#c00000;border:1px solid #c00000;border-radius:3px;color:#FFF;font-weight:bold;" href="#" target="_blank">
                  Emailadresse bestätigen
                </a>
              </p>
            </td>
          </tr>
          <tr>
            <td colspan="2" style="padding:30px 0 0 0;border-top:1px solid #e9edee;color:#9b9fa5">
              Wenn du Probleme mit dem Newsletter hast schreib uns einfach an 
              <a style="color:#c00000;text-decoration:none;" href="mailto:news@citychurch-ulm.de" target="_blank">
                news@citychurch-ulm.de
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </center>
  </div>
</body>